body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./components/asserts/pexels-birkaybolushikayesi-19283227.jpg')
  no-repeat;
  background-size: cover;
  background-position: center;
}